<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stanford Solar Observatory Group</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid navbar-content">
            <!-- Navbar Images -->
            <div class="navbar-images">
                <img src="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0171.jpg" alt="Image 1">
                <img src="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0304.jpg" alt="Image 2">
                <img src="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0131.jpg" alt="Image 3">
                <img src="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0094.jpg" alt="Image 4">
            </div>
            <!-- Navbar Title and Navigation -->
            <div class="navbar-title-container">
                <div class="navbar-title">
                    Stanford Solar Observatory Group
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="sunProjects.stanford.html">Projects <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seminars and Meetings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Solar Phyiscs Seminars</a>
                        <a class="dropdown-item" href="#">Events & Seminars at KIPAC</a>
                        <a class="dropdown-item" href="#">LMSAL Seminars</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Publications
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">ApJ Abstracts</a>
                        <a class="dropdown-item" href="#">Solar Phyiscs Abstracts</a>
                        <a class="dropdown-item" href="#">Other Reference Tools</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Vistors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">People</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Internal Information
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Local Info</a>
                        <a class="dropdown-item" href="#">Employment Opportunities</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="title-container">
        <h5>Visitors</h5>
    </hr>
    </div>
    
    <div class="container mt-4">
        <ul>
            <li><a href="https://coffies.stanford.edu/" style="color: #B1040E;">David Brooks [April 2024]</li>
            <li><a href="http://hmi.stanford.edu/" style="color: #B1040E;">Jesper Schou - Max Planck Institute for Solar System Research [April, 2024]</li>
            <li><a href="http://wso.stanford.edu/" style="color: #B1040E;">Sarbani Basu - Yale University [March 11–15, 2024]</li>
            <li><a href="http://jsoc.stanford.edu/" style="color: #B1040E;">Nat Mathews - NASA/GSFC [January 2024]</li>
        </ul>
    </div>


    <div class="footer-container">
        <ul class="nav justify-content-center fs-5">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
        </ul>
    </div>
    </div>
    </body>
    </html>