{#
    This line says to use the "_base.html" file as a starting point.
    It will render an HTML file with the HTML found in "_base.html", then fill
    in the blocks with the values provided below.
#}
{% extends "_layouts/base.html" %}

{# This line fills in the "title" block #}
{% block title %}Example Page{% endblock %}

{# This line fills in the "body" block #}
{% block body %}

<!--
    {# Removes edges and formats images #}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Image Row</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col">
                    <img
                        class="img-fluid"
                        src="https://jsoc1.stanford.edu/data/hmi/images/latest/HMI_latest_Mag_256x256.gif"
                        alt="HMI Magnetogram Latest" />
                </div>

                <div class="col">
                    <img
                        class="img-fluid"
                        src="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0171.jpg"
                        alt="HMI Magnetogram Latest" />
                </div>

                <div class="col">
                    <img
                        class="img-fluid"
                        src="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0304.jpg"
                        alt="HMI Magnetogram Latest" />
                </div>

                <div class="col">
                    <img
                        class="img-fluid"
                        src="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0131.jpg"
                        alt="HMI Magnetogram Latest" />
                </div>

                <div class="col">
                    <img
                        class="img-fluid"
                        src="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_HMIIF.jpg"
                        alt="HMI Magnetogram Latest" />
                </div>

                <div class="col">
                    <img
                        class="img-fluid"
                        src="https://sdo.gsfc.nasa.gov/assets/img/latest/latest_1024_0094.jpg"
                        alt="HMI Magnetogram Latest" />
                </div>
            </div>
        </div>
    </body>
-->

<h1>An Example Page</h1>
<p>
    This page is just an example of how to use
    Jinja,
    Bootstrap&nbsp;<i class="fa-brands fa-bootstrap"></i>,
    and Font Awesome&nbsp;<i class="fa-regular fa-font-awesome"></i>
    to create a simple page!

    The page is created using a base template that should be used by all pages
    by default.
</p>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            This is a column in Bootstrap's grid system.
        </div>
        <div class="col-6">
            This is also a column. Both are in a single row.
        </div>
    </div>
</div>
<style>
    /*CENTER COLUMN */
    .align-center {
        text-align: center;
    }
    /*CENTER DIV*/
    .center {
        margin: 0 auto;
        width: 80%;
    }
</style>
<div class="container">
    <div class="row">
        <div class="center">
            <div class="col-xs-2 align-center col-xs-offset-3"> <img style="width: 25%; height: 25%" src="templates/examples/sun-example.html" alt="Mister Marbles head tilt"> </div>
            <div class="col-xs-2 align-center"> <img style="width: 25%; height: 25%" src="templates/examples/sun-example.html" alt="Kermit the Dog"> </div>
            <div class="col-xs-2 align-center"> <img style="width: 25%; height: 25%" src="templates/examples/sun-example.html" alt="Peach posing magestically"> </div>
        </div>
    </div>
</div>
{% endblock %}
